.example-3 {
  width: 80%;
  height: 400px;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 6px;
  position: absolute;

  p {
    width: 100%;
    text-align: left;
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 25px;

    @media screen and (max-width: 768px) {
      font-size: 28px;
      margin-bottom: 5px;
    }

    &:nth-child(2) {
      font-size: 20px;
      font-weight: 400;
      margin-left: 25px;

      @media screen and (max-width: 768px) {
        font-size: 15px;
      }
    }
  }

  button {
    font-size: 15px;
    padding: 4px 12px 4px 12px;
    margin: auto 0px 0px auto;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.example-3.animationIn {
  transform: translateY(-200%);
  animation: myAnimation3In 750ms forwards;

  @keyframes myAnimation3In {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0%);
    }
  }
}

.example-3.animationOut {
  transform: translateY(-200%);
  animation: myAnimation3Out 750ms forwards;

  @keyframes myAnimation3Out {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-200%);
    }
  }
}
